commit.time
commit.default
target.mk
.*.sw*

*.Rout.pdf
*.html

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

dotdir/
clonedir/

.Rproj.user
.Rhistory
.RData
.Ruserdata

rdata_2002_2007.csv