commit.time
commit.default
target.mk
.*.sw*

*.Rout.pdf
*.html

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
.Rhistory

*.wrapR.*

local.mk

*.makestuff

.deps/
diagram.pdf
*.deps
*.oldfile
makestuff
